@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@400;500;700&family=Playfair+Display&display=swap");
* {
  font-family: "Oswald";
}

header {
  color: #2E3192;
}
header .navbar {
  padding-top: 10px;
  padding-bottom: 10px;
  font-family: "Montserrat";
  font-size: 20px;
  font-weight: 500;
}
header .navbar .w-1000 {
  width: 1000px;
}
header .navbar .nav-item {
  margin-left: 70px;
  font-family: "Oswald";
  font-weight: 700;
}
@media (max-width: 992px) {
  header .navbar .nav-item {
    margin-left: 0%;
  }
}
header .navbar .nav-item .number {
  font-weight: 400;
}
header .navbar .drop_menu {
  font-size: 14px;
}
header .icons img {
  width: 39px;
}

.navbar-toggler {
  background-image: url("/img/menu.svg");
  background-size: contain;
  border: none;
}

.cursor {
  cursor: pointer;
}

.slidd {
  height: 700px;
  background-color: #2E3192;
  color: white;
}
@media (max-width: 770px) {
  .slidd {
    height: 700px;
  }
}
.slidd .slidd_width {
  width: 1000px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 40px;
  grid-row-gap: 0px;
}
@media (max-width: 770px) {
  .slidd .slidd_width {
    grid-template-columns: 1fr;
    width: 100%;
  }
}
@media (max-width: 570px) {
  .slidd .slidd_width {
    width: 100%;
  }
}
.slidd .slidd_width .title {
  width: 350px;
  padding-top: 190px;
}
@media (max-width: 770px) {
  .slidd .slidd_width .title {
    width: 100%;
    padding-top: 30px;
    padding-left: 30px;
  }
}
@media (max-width: 518px) {
  .slidd .slidd_width .title {
    padding-top: 30px;
    padding-left: 20px;
  }
}
.slidd .slidd_width .title h4 {
  padding-bottom: 40px;
}
.slidd .slidd_width .item {
  padding-top: 40px;
}
@media (max-width: 770px) {
  .slidd .slidd_width .item img {
    width: 500px;
    padding-top: 30px;
    padding-left: 30px;
  }
}
@media (max-width: 518px) {
  .slidd .slidd_width .item img {
    width: 100%;
    padding-top: 30px;
    padding-left: 0px;
  }
}

.title_main, .title {
  padding-top: 60px;
}
@media (max-width: 770px) {
  .title_main, .title {
    padding-top: 60px;
  }
}

.slicc {
  font-family: "Oswald", sans-serif;
  font-weight: 700;
  height: auto;
  text-align: center;
  margin-bottom: 80px;
}
.slicc h2 {
  margin-bottom: 30px;
}

.slider {
  width: 1200px;
  margin: 0 auto;
}
@media (max-width: 770px) {
  .slider {
    width: auto;
  }
}
.slider .title {
  font-size: 20px;
  font-weight: 700;
  padding-bottom: 10px;
}
.slider .card {
  margin-left: 20px;
  margin-top: 30px;
}
@media (max-width: 600px) {
  .slider .card {
    margin-left: 25px;
  }
}
.slider .slick-prev {
  left: -25px;
  background-image: url("/img/slid/angle-left.svg");
  background-size: cover;
}
@media (max-width: 770px) {
  .slider .slick-prev {
    left: 13px;
  }
}
.slider .slick-next:before {
  display: none;
}
.slider .slick-prev:before {
  display: none;
}
.slider .slick-next {
  right: -5px;
  background-image: url("/img/slid/angle-right.svg");
  background-size: cover;
}
@media (max-width: 770px) {
  .slider .slick-next {
    right: 30px;
  }
}

.why {
  width: 1000px;
  margin: 0 auto;
  margin-bottom: 140px;
}
@media (max-width: 800px) {
  .why {
    width: 100%;
  }
}
.why h3 {
  text-align: center;
}
.why .title_why {
  display: flex;
  margin-top: 40px;
}
.why .title_why p {
  margin-left: 30px;
}
.why .title_why img {
  margin-top: 15px;
}

footer {
  background-color: #2F4F4F;
  height: auto;
}
footer .blue_line {
  height: 59px;
}
footer .content {
  height: 260px;
  width: 1300px;
  margin: 0% auto;
  margin-top: 30px;
  color: white;
}
@media (max-width: 800px) {
  footer .content {
    width: 100%;
  }
}
footer .content .logo {
  text-align: center;
}
footer .content .logo img {
  width: 100px;
}
footer .content img {
  margin-bottom: 20px;
}
footer .content ul li {
  list-style: none;
  cursor: pointer;
  font-size: 18px;
}
footer .content ul .title_link {
  font-size: 23px;
  font-weight: 600;
}
footer .content ul .title_link_nuber {
  color: #FF7E00;
}
footer .content ul a {
  text-decoration: none;
}
footer .content .iconss {
  text-align: center;
}
footer .content .iconss .what {
  margin-left: 10px;
}
footer .content .iconss img {
  width: 50px;
}
footer .foot_title ul li {
  font-size: 23px;
}
footer .footLogoTitle {
  font-size: 23px;
}

.card-body {
  position: relative;
}
.card-body .more {
  position: absolute;
  top: 20px;
  left: 70px;
  background-color: #94c98f;
  padding: 10px 30px;
  border-radius: 10px;
  color: black;
  font-weight: 600;
  text-decoration: none;
}
.card-body .more:hover {
  background-color: green;
  color: white;
}

.welcome h2 {
  margin-top: 30px;
}
.welcome .wel_title {
  margin-top: 120px;
}
@media (max-width: 800px) {
  .welcome .wel_title {
    margin-top: 10px;
  }
}

.mainn {
  position: relative;
}
.mainn img {
  width: 100%;
}
.mainn .mainn_title {
  position: absolute;
  top: 270px;
  left: 120px;
  z-index: 30;
  padding: 40px;
  background-color: #2E3192;
  color: white;
  border-radius: 35px 2%;
  cursor: pointer;
}
@media (max-width: 900px) {
  .mainn .mainn_title {
    display: none;
  }
}

.img_title {
  margin-top: 10px;
}

.row-title {
  margin-left: 15px;
  font-size: 18px;
}

.mp-10 {
  margin-bottom: 40px;
  margin-top: 20px;
}

.ElectroWork {
  font-size: 18px;
}
.ElectroWork .title_electro {
  font-size: 20px;
  font-weight: 700;
}
.ElectroWork .title_electro img {
  margin-right: 5px;
}
.ElectroWork .display {
  display: flex;
}

.Benefit {
  margin-top: 20px;
}
.Benefit .titlee {
  font-size: 20px;
  margin-left: 10px;
  margin-top: 10px;
}
.Benefit .list {
  margin-left: 20px;
}
.Benefit .title_two {
  margin-top: 30px;
  font-size: 18px;
  margin-bottom: 100px;
}

.Proect {
  font-size: 18px;
  margin-bottom: 50px;
}

.Garant {
  font-size: 18px;
  margin-bottom: 100px;
}
.Garant .likeIcon {
  margin-top: 50px;
}
.Garant .likeIcon img {
  margin-bottom: 30px;
}

.Labaratory {
  font-size: 18px;
  margin-bottom: 100px;
}
.Labaratory h3 {
  margin-bottom: 50px;
}
.Labaratory .electro-bold {
  font-weight: 700;
}
.Labaratory .listLa {
  margin-top: 30px;
  margin-left: 10px;
}
.Labaratory .listLa .titlee {
  margin-left: 10px;
}

.mbb {
  margin-top: 30px;
  margin-bottom: 40px;
}

.Engineer {
  font-size: 22px;
}
.Engineer .listt {
  margin-bottom: 40px;
  margin-left: 50px;
}
.Engineer .listt img {
  margin-right: 20px;
}
@media (max-width: 500px) {
  .Engineer .listt {
    margin-left: 0;
  }
}

.card-body {
  padding: 0 !important;
}

.body-card {
  padding-bottom: 30px !important;
  padding: 10px;
}

.font-size {
  font-size: 20px;
}

.reddy {
  margin-left: 20%;
  margin-top: 30px;
  margin-bottom: 30px;
}
@media (max-width: 700px) {
  .reddy {
    margin-left: 0;
  }
}

.titlee {
  margin-left: 10px;
}

.p {
  margin-bottom: 20px;
}

.Last .listt {
  margin-bottom: 20px;
  margin-left: 50px;
  font-size: 20px;
}

.mb {
  margin-bottom: 40px;
}

.Video h2 {
  margin-bottom: 50px;
}

.ClearHome {
  margin-bottom: 70px;
}

.Primer {
  margin-top: 50px;
}
.Primer h4 {
  margin-bottom: 40px;
}

.Sani {
  margin-bottom: 100px;
}/*# sourceMappingURL=style.css.map */