header{
    color:#2E3192;
    .navbar{
        padding-top: 0;
        padding-bottom: 0;
        font-family: 'Montserrat';
        font-size: 14px;
        font-weight: 500;
        .w-1000{
            width: 1000px;
        }
        .nav-item{
            margin-left: 70px;
            @media (max-width: 992px) {
                margin-left: 0%;
            }
            .number{
                font-weight: 400;
            }
        }
        .drop_menu{
            font-size: 14px;
        }
      
    }
}
.navbar-toggler{
   background-image: url("/img/menu.svg");
   background-size:contain;
   border: none;
}
.cursor{
    cursor: pointer;
}
.slidd{
    height: 781px;
    background-color: #2E3192;
    color: white;
     @media (max-width:770px) {
        height: 700px;
     }
    .slidd_width{
        width: 1000px;
        margin: 0 auto;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 1fr;
        grid-column-gap: 40px;
        grid-row-gap: 0px;
        @media (max-width:770px) {
            grid-template-columns: 1fr;
            width: 100%;
        }
        @media (max-width:570px) {
            width: 100%;
        }
        .title{
            width: 350px;
            padding-top: 190px ;
            @media (max-width:770px) {
            width: 100%;
               padding-top: 30px ;
               padding-left: 30px;
            }
            @media (max-width:518px) {
                padding-top: 30px ;
                padding-left: 20px;
             }
            h4{
                padding-bottom: 40px;
            }
        }
        .item{
            img{
                @media (max-width:770px) {
                    width: 500px;
                    padding-top: 30px ;
                    padding-left: 30px;
                 }
                 @media (max-width:518px) {
                    width: 100%;
                    padding-top: 30px ;
                    padding-left: 0px;
                 }
                
            }
        }
    }

}
.title_main,.title{
    padding-top: 30px;
    @media (max-width:770px){
        padding-top: 30px;
    }
}
.slicc{
    height: 700px;
    text-align: center;
    h2{
        margin-bottom: 30px;
    }
}

.slider{
    width: 1200px;
    margin: 0 auto;
    @media (max-width: 770px) {
        width: auto;
    }
    .title{
        font-size: 20px;
        font-weight: 700;
        padding-bottom: 10px;
    }
    .card{
        margin-left: 30px;
        @media (max-width:600px) {
            margin-left: 50px;
        }
    }
    .slick-prev {
        left: -25px;
        background-image:url("/img/slid/angle-left.svg");
        background-size:cover;
        @media (max-width:770px) {
            left: 13px;
        }
     }
    .slick-next:before {
        display: none;
    }
    .slick-prev:before{
        display: none;
    }
    .slick-next {
        right: -5px;
        background-image:url("/img/slid/angle-right.svg");
        background-size:cover;
        @media (max-width:770px) {
            right: 30px;
        }
    }
}
.why{
    width: 1000px;
    margin: 0 auto;
    margin-bottom: 140px;
    @media (max-width:800px) {
        width: 100%;
    }
    h3{
        text-align: center;
    }
.title_why{
    display: flex;
    margin-top: 40px;
    p{
        margin-left: 30px;
    }
}
}
footer{
    .blue_line{
        height: 59px;
        background-color:#2E3192;
    }
    .content{
        height: 260px;
        width: 1000px;
        margin: 0% auto;
        margin-top: 30px;
        color:#2E3192;
        @media (max-width:800px) {
            width: 100%;
        }
        .logo{
            text-align: center;
        }
        img{
            margin-bottom: 20px;
        }
        ul{
            li{
                list-style: none;
                cursor: pointer;
                
            }
            .title_link{
                font-size: 18px;
                font-weight: 600;
            }
            .title_link_nuber{
                color:  #FF7E00;
            }
            a{
                text-decoration: none;
            }
        }
        .iconss{
            text-align: center;
        }
    }
}
.card-body{
    position: relative;
    .more{
        position: absolute;
        top: -20px;
        left: 70px;
        background-color:#1DCA0A;
        padding:10px 30px;
        border-radius: 10px;
        color:white;
        text-decoration: none;
    }
}
.wel_title{
    margin-top: 200px;
    @media (max-width:800px) {
        margin-top: 10px;
    }
}
// Electro page 
.mainn{
    position: relative;
    img{
        width: 100%;
    }
    .mainn_title{
        position: absolute;
        top: 270px;
        left: 120px;
        z-index: 30;
        padding: 40px;
        background-color:#2E3192;
        color: white;
        border-radius: 35px 2%;
        cursor: pointer;
        @media (max-width:900px) {
            display: none;
        }
    }
}
.img_title{
margin-top: 10px;
}
.row-title{
  margin-left: 15px;
  font-size: 18px;
}
.mp-10{
    margin-bottom: 40px;
    margin-top: 20px;
}
.ElectroWork{
    font-size: 18px;
    .title_electro{
       font-size: 20px;
       font-weight: 700;
       img{
        margin-right: 5px;
       }
    }
    .display{
        display: flex;
    }
}