header{
    color:#2E3192;
    .navbar{
        padding-top: 0;
        padding-bottom: 0;
        font-family: 'Montserrat';
        font-size: 14px;
        font-weight: 500;
        .w-1000{
            width: 1000px;
        }
        .nav-item{
            margin-left: 70px;
            @media (max-width: 992px) {
                margin-left: 0%;
            }
            .number{
                font-weight: 400;
            }
        }
        .drop_menu{
            font-size: 14px;
        }
      
    }
}
.black{
    background-image: url("/img/menubur.svg");
    background-size:contain;
    border:1px solid black ;
}
.cursor{
    cursor: pointer;
}
.slid{
    height: 781px;
    background-color: #2E3192;
    color: white;
     @media (max-width:770px) {
        height: 700px;
     }
    .slid_width{
        width: 1000px;
        margin: 0 auto;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 1fr;
        grid-column-gap: 40px;
        grid-row-gap: 0px;
        @media (max-width:770px) {
            grid-template-columns: 1fr;
            width: 100%;
        }
        @media (max-width:570px) {
            width: 100%;
        }
        .title{
            width: 350px;
            padding-top: 190px ;
            @media (max-width:770px) {
            width: 100%;
               padding-top: 30px ;
               padding-left: 30px;
            }
            @media (max-width:518px) {
                padding-top: 30px ;
                padding-left: 20px;
             }
            h4{
                padding-bottom: 40px;
            }
        }
        .item{
            img{
                @media (max-width:770px) {
                    width: 500px;
                    padding-top: 30px ;
                    padding-left: 30px;
                 }
                 @media (max-width:518px) {
                    width: 100%;
                    padding-top: 30px ;
                    padding-left: 0px;
                 }
                
            }
        }
    }

}
.title_main,.title{
    padding-top: 160px;
    @media (max-width:770px){
        padding-top: 30px;
    }
}
